.wy-side-nav-search {
    background-color: #A9A9A9;
}
.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.log {
    max-width: 66%;
}
.wy-side-nav-search>div.version {
    color: black;
}