version: 2.1
executors:
  python:
    parameters:
      version:
        type: string
        default: lastest
    docker:
      - image: circleci/python:<< parameters.version >>

commands:
  setup:
    parameters:
      version:
        type: string
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python<< parameters.version >>

  install-and-cache:
    description: "Install dependencies"
    parameters:
      version:
        type: string
    steps:
      - setup:
          version: << parameters.version >>
      - restore_cache:
          key: python<< parameters.version >>-requirements-{{ checksum "requirements.txt" }}
      - run: pip install -e .
      - run: python --version
      - save_cache:
          key: python<< parameters.version >>-requirements-{{ checksum "requirements.txt" }}
          paths:
            - "~/.cache/pip"
            - "/usr/local/lib/python<< parameters.version >>/site-packges"
            - "/usr/local/lib/site-python"



jobs:
  linting:
    parameters:
      version:
          type: string
    executor:
      name: python
      version: << parameters.version >>
    working_directory: ~/lumapps-sdk
    steps:
      - setup:
          version: << parameters.version >>
      - run: 
          name: Install dependencies
          command: |
            pip install flake8 flake8_formatter_junit_xml
      - run:
          name: run flake8
          command: |
            mkdir -p test-results
            flake8 lumapps_api_* --format junit-xml --output-file test-results/flake8.xml
      - run:
          name: Security checks
          command: |
            pip install bandit
            bandit -r lumapps_api*
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: flake8-artifacts

  build:
    parameters:
      version:
        type: string
    executor:
      name: python
      version: << parameters.version >>
    working_directory: ~/lumapps-sdk
    steps:
      - install-and-cache:
          version: << parameters.version >>


  test-and-coverage:
    parameters:
      version:
        type: string
    executor:
      name: python
      version: << parameters.version >>
    steps:
      - install-and-cache:
          version: << parameters.version >>
      - run: 
          name: Install test and coverage librairies
          command: pip install -r requirements_dev.txt
      - run:
          name: Run tests
          command: |
            mkdir -p test-reports/pytest
            cd tests
            coverage run -m pytest --junitxml=test-results/pytest/results.xml -v
            bash <(curl -s https://codecov.io/bash)
            coverage report

      - store_test_results:
          path: test-results
  
  extended-linting:
    executor:
      name: python
      version: "3.6"
    working_directory: ~/lumapps-sdk
    steps:
      - setup:
          version: "3.6"
      - run:
          name: Install black and flake8-bugbear
          command: pip install black flake8 flake8_formatter_junit_xml
      - run:
          name: Formatting checks
          command: black --check *.py
      - run:
          name: Bugs checks
          command: |
            mkdir -p test-results
            flake8 lumapps_api_* --format junit-xml --output-file test-results/flake8.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: flake8-artifacts

  documentation:
    parameters:
      version:
        type: string
    executor:
      name: python
      version: << parameters.version >>
    steps:
      - install-and-cache:
          version: << parameters.version >>
      - run:
          name: Install dependencies
          command: pip install -r requirements_dev.txt
      - run:
          name: Build doc
          command: cd docs && make clean html
  
  deploy-doc:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: Installing dependencies
          command: | 
            virtualenv env
            source env/bin/activate
            pip install -e .  
            pip install -r requirements_dev.txt
      - run:
          name: deploying doc
          command: |
            git config --global user.email "${GIT_EMAIL}"
            git config --global user.name "${GIT_NAME}"

            source env/bin/activate
            cd documentation
            make clean
            make html
            cd ..
            git clone git@github.com:lumapps/lumapps-sdk.git out
            cd out
            git checkout gh-pages || git checkout --orphan gh-pages
            git rm -rf .
            cd ..

            cp -a documentation/build/html/* out/

            cd out
            touch .nojekyll
            git add -A
            git commit -m "Automated deployement to Github Page ${CIRCLE_SHA1}"
            
            git push https://${GIT_TOKEN}@github.com/aureldent/sdk-doc.git gh-pages



workflows:
  version: 2.1
  
  CI-python27:
    jobs:
      - build:
          name: "Build-27"
          version: "2.7"
          filters:
            branches:
              only: master

      - linting:
          name: "Linting-27"
          version: "2.7"
          requires:
              - "Build-27"
          filters:
            branches:
              only: master
      
      - test-and-coverage:
          name: "Tests-27"
          version: "2.7"
          requires:
            - "Linting-27"
          filters:
            branches:
              only: master
    

 
    
  CI-python36:
    jobs:
      - build:
          name: "Build-36"
          version: "3.6"
          filters:
            branches:
              only: master

      - linting:
          name: "Linting-36"
          version: "3.6"
          requires:
            - "Build-36"
          filters:
            branches:
              only: master
      
      - extended-linting:
          name: "Extended linting"
          requires:
              - "Build-36"
          filters:
            branches:
              only: master
      
      - test-and-coverage:
          name: "Test-36"
          version: "3.6"
          requires:
            - "Build-36"
            - "Linting-36"
            - "Extended linting"
          filters:
            branches:
              only: master
      
      - documentation:
          name: "Building documentation"
          version: "3.6"
          requires:
            - "Test-36"
          filters:
            branches:
              only: master
              
  doc-deploy:
    jobs:
      - deploy:
          name: "Deploy doc to github pages"
          filters:
            branches:
              only: master

